@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*---------------------------------Header*/

.header-text {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*---------------------------------Main Margins*/

body {
    background-color: #ffffff;
}

header {
    margin: 0;
}

/*---------------------------------Special Padding*/

.nav {
    margin-bottom: 0px;
    background-color: #0000ff;
    color: #ffffff;
    border-bottom: 1px solid #345192;
    border-radius: 0;
}

#nav-title {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
}

.navbar-section {
    padding: 0px;
}


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*---------------------------------Footer*/

.footer-styles {
    background-color: #afafaf;
    margin-top: 15px;
    font-family: "Titillium Web", sans-serif;
}



/*---------------------------------Section*/

.section-heading {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*---------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        /*padding: 0 30px 30px;*/
        float: none;
    }
}


/*---------------------------------Map Search*/

#map {
    min-height: 500px !important;
}

.input-boxes {
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}

#country {
    height: 50px;
}

.find-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

#reset-button {
    background-color: #0000ff;
    margin-bottom: 20px;
    margin-top: 90px;
}


.radio-form {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}

.radio-buttons {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

/*---------------------------------Results Table*/

table {
    font-size: 15px;
}

#listing {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}